@import url('https://fonts.googleapis.com/css?family=Dosis:600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

body{
  margin-top: 50px;
  margin: 80px;
  background-color: #FCC12D;
  margin: auto;
  margin-bottom: 20px;
}

h1{
  font-family: 'Dosis', sans-serif;
  width: 100%;
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: 0px;
  letter-spacing: 10px;
}

h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 70px;
}

h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

p{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 10px;
}

input{
  width: 375px;
  padding: 15px;
  display: inline-block;
  border-radius: 50px;
  margin: 5px 0 0px 0;
  height: 50px;
}

table{
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
}

th, td{
  padding: 15px;
}

.error{
  color: red;
  margin-bottom: 0;
}

.admin{
  border-bottom: solid;
  border-top: solid;
}

::-webkit-datetime-edit { color: #FCC12D; }
::-webkit-calendar-picker-indicator { background: #FCC12D; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FCC12D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FCC12D;
  font-family: 'Montserrat', sans-serif;
  font-style: bolder;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FCC12D;
  font-family: 'Montserrat', sans-serif;
  font-style: bolder;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FCC12D;
  font-family: 'Montserrat', sans-serif;
  font-style: bolder;
}

button {
  background-color: grey;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  width: 350px;
  border-radius: 50px;
  height: 50px;
  margin: 10px 0px 10px 0px;
}

small{
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

.social-media{
  text-align: center;
  margin-top: 25px;
}

.logo{
  text-align: center;
}

form{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

span{
  display: block;
}

.homebutton{
  background: transparent;
  border-style: solid;
  width: 100px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bolder;
}

.scrollbox{
  overflow-y: scroll;
  height: 500px;
  width: 700px;
  padding: 1rem;
  margin: 0 auto;
  border-color: white;
  border-style: solid;
  border-radius: 5%;
}

.customerdetails{
  background-color: #FCC12D;
  color: white;
  border-bottom: white;
  border-bottom: solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.backbutton{
  margin-left:auto;
  margin-right:auto;
  display:block;
}



